POSTGRES_PASSWORD=replace-with-a-random-password
EXPENSES_DB_PASSWORD=replace-with-a-random-password
POMODORO_DB_PASSWORD=replace-with-a-random-password
INSCRIBED_DB_PASSWORD=replace-with-a-random-password
